<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
<title>Node.js ind | <%= title%></title>
</head>

<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2>All Blogs</h2> <!--close ejs here because now templates will be outputted-->
        <%if (blogs.length >  0) {%>
            <% blogs.forEach(blog => {%>
                <a class="single" href="/blogs/<%= blog._id %>">
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet%></p>
                <% }) %>
         <%} else {%>
            <p>There are no blogs to display!</p>
        <% }%>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>